/*视频播放器*/

.player-wrap{height:100%;width:100%;background-color:#000;z-index:2;overflow:hidden;position:relative;}
.player-wrap .hide{display:none;}
.player-wrap .icon,.player-dialog-close{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAAAoCAMAAAA/g/hYAAAAS1BMVEUAAAD////////z8/P////////////////////a2dn///////////////////+hoJ////////////+hoJ+hoJ+hoJ+hoJ////+hoJ+OiObXAAAAF3RSTlMAmzcV0hwm9VsLq0lzx4jS4bzromND6DosvWUAAAQNSURBVHja7NjZjqMwEIXh8gJeMCTQ3XN4/yedtBJUA3FjSGw0avFfRM6iKPaXugA6Ozv7D/KW1rKezn5bHrBr5sCp/tvyuGXXzDOrOyu0AYwW1tHZ0bEqbOLdbNUC4ERNZ4fHroeYuw5AG6RyTsnQAujOaT8+lj3AvNbTcPPY63PYj49ti5tLg0EuXhpgJJ0VqvK+SqiXnnODVtEi1cLUefaX5UsqKpT6oOOz7JdQL2TuNHoXebnH1dFzjTEN8SpVAOjnzBSt540upP45jrRev/Ws607j1iAk/Zy6P3bdfVEl1AuZUxfHJXdFF3MCzGy1ltTIgl7pu7oxlLWvy5hEB9DXm87x1nDFrb6ieC6IZs7rXUK9iHkNyPuq1XIuBtTRMwCvUtcE02caNHF0HuG0em509zGOm9CB4ChRD/SNIiLZAZAUTYk2LG7GJGa9iDkJCN6dUIu33kFvBsDYCX2Io+s96tnQLxdH9PXnJv65DR1XSau14L911QI1RWvCbLfSM2VMvZC5498HfCMRVwPuFfQWU17R4zMDZBS92qWeB/0yTn042obOAxGvmzP3GPJcuRUxJ4t2vru2/lfPvoKOR8YSTegCIYpOu9TzoI9Tn0Qb0RMHXwHNfGMIedRLmDMG745vxgWIN9C9Ika38HH0Xep50HnMN6PzQETr0C/JDGVRFwXMSUM+7W5o6J6Efg39+YnENY6+Td1M5UEncpfxsgedByLWgIbmGcgs6iXMCVDL3fE1hwJyoStgbYT9weisvg8dQ9QScDTPI9AyV7vI5kOdUM9kHv+54B5j6fKhO+C4G25pdFbfiY6BIsHQohBBt6Ghp/TKwQh8J4iOQTdl0DO4m6m30Fl9Lzo2oLu/7ZxRb4MwDIRTwszcVCNoar3//0s3ukl+iLYZmauA+l4qpL6dCPZ3dk7nXvrzm8P09k3HH+8EON7toBVvurq+9HgvhuNdS27H8d5808GF3CuqkPODVoV4LtPVdUwhRyJCm63egS3bKTUtmx+0KsTzt2x31zEtW6KettunI+HMlBs44watCvH8cGbku+sMgDOFt0zkoBi2UmowrBe0KsTzY9hbTjx7D8Cw9pLbzt73ELhcRKQkDVycoLWFeP4o/eOa5jceELj8FrMRL/VcnxDRar92tFpE5KLRqhO0thDPq+t3yjaOD4tWuStk97x53sUQBVX5EqD/VojnUr7Z8vTpxTpEUevw5/+pyws8x7nOFTculSef6ViIZ6vez7WsOC7FPz9s8BzpOg2z663nA61SMkjast7V9AeKc2aD50jXu6GpU7oaI9BIscFzsOtU22WHGssOdu1xwyXWmrYi6y5bLDAeR9at1VhVPpD+30+PWwmOp7iJ4hkVd86EQiG/PgE0X4pci9ebJwAAAABJRU5ErkJggg==) no-repeat;}
.player-wrap-full{height:auto;position:fixed;left:0;top:0;right:0;bottom:0;z-index:106;width:100%;}
.player-video{object-fit:cover;}
.player-video-fit{object-fit:contain;}
.player-controls{position:absolute;left:0;bottom:0;right:0;color:#fff;background-color:#999;background-color:rgba(0,0,0,.5);line-height:40px;z-index:3;padding:25px 20px 15px;}
.player-controls .btn{height:40px;width:40px;padding:0 5px;float:left;cursor:pointer;}
.player-controls .btn span{width:40px;height:40px;display:block;}
.player-controls .pause span{background-position:-40px 0;}
.player-controls .played{padding-left:5px;float:left;}
.player-controls .played:after{content:'/';}
.player-controls .duration{float:left;color:#ccc;}
.player-controls .tracker{position:absolute;left:0;top:0;right:0;height:10px;}
.player-controls .tracker:before{content:'';position:absolute;left:0;top:0;right:0;bottom:0;background-color:#fff;}
.player-controls .thumb{position:absolute;left:0;top:0;bottom:0;width:0;background-color:#00b7ee;}
.player-controls .thumb:before{content:'';height:32px;width:32px;background-color:rgba(0, 183, 238, .4);position:absolute;right:0;top:50%;margin:-16px -16px 0 0;border-radius:50%;}
.player-controls .thumb:after{content:'';height:16px;width:16px;background-color:#00b7ee;position:absolute;right:0;top:50%;margin:-8px -8px 0 0;border-radius:50%;}
.player-controls .voice{float:right;}
.player-controls .voice span{background-position:-80px 0;}
.player-controls .voice-muted span{background-position:-240px 0;}
.player-controls .volume{float:right;position:relative;width:100px;height:6px;background-color:#fff;background-color:rgba(255,255,255,.8);margin:17px 25px 0 0;}
.player-controls .volume .thumb{width:50%}
.player-controls .volume .thumb:before,.player-controls .volume .thumb:after{content:none;}
.player-controls .copy{float:right;background-color:#d7d7d7;border-radius:3px;padding:0 30px;font-size:14px;line-height:32px;margin-top:4px;color:#333;cursor:pointer;background:linear-gradient(#fafafa, #d4d4d4);background:-webkit-linear-gradient(#fafafa, #d4d4d4);}
.player-controls .copy:active{background:linear-gradient(#bbb, #e1e1e1);background:-webkit-linear-gradient(#bbb, #e1e1e1);}
.player-controls .copy-content{opacity:1;position:absolute;right:0;top:100%;}
.player-controls-hide{bottom:-40px;opacity:0;}
.player-mark{position:absolute;left:0;right:0;bottom:0;top:0;}
.player-mark .red{width:.9rem;height:.9rem;background-position:-2.34rem -5.1rem;position:absolute;left:0;top:50%;margin-top:-.45rem;z-index:3;transform:scale(.6);-webkit-transform:scale(.6);}
.player-mark .btn{position:absolute;left:0;top:0;bottom:0;right:0;}
.player-mark .btn span{height:40px;width:40px;position:absolute;left:50%;top:50%;margin:-60px 0 0 -20px;background-color:#999;background-color:rgba(255,255,255,.5);border-radius:50%;cursor:pointer;}
.player-mark .play span{background-position:-280px 0;}
.player-mark .again span{background-position:-320px 0;}
.player-mark .load span{background-position:-360px 0;animation:sunrise 800ms infinite linear;-webkit-animation:sunrise 800ms infinite linear;}
.player-mark .full{position:absolute;bottom:auto;left:auto;right:30px;top:30px;z-index:3;}
.player-mark .full span{background-position:-120px 0;margin:0;left:auto;top:auto;position:relative;display:block;background-color:#999;background-color:rgba(0,0,0,.5);}
.player-mark .not-full span{background-position:-160px 0;}
.player-mark .error{position:absolute;left:0;right:0;top:0;color:#fff;background-color:#000;text-align:center;padding:8px 0;font-size:14px;}

@keyframes sunrise {
    from{transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@-webkit-keyframes sunrise {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

.player-dialog{position:absolute;background-color:#000;z-index:50;padding:10px 0 10px 10px;}
.player-dialog-body{height:100%;padding-right:200px;}
.player-dialog-close{position:absolute;left:100%;top:0;width:40px;height:40px;background-position:-400px 0;cursor:pointer;margin-left:5px;}
.player-dialog-overlay{position:fixed;left:0;top:0;right:0;bottom:0;background-color:#000;z-index:49;}
.player-dialog-tit{position:absolute;right:0;top:0;width:200px;height:60px;font-size:16px;color:#fff;line-height:60px;text-indent:15px;}
.player-dialog-list{position:absolute;right:0;top:60px;bottom:20px;width:200px;background-color:#202026;overflow-y:auto;color:#fff;}
.player-dialog-list ul{list-style:none;padding:15px 10px 15px 0;margin:0;}
.player-dialog-list li{cursor:pointer;margin:5px 0 0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;list-style:none;padding:0 0 0 30px;font-size:14px;position:relative;line-height:25px;}
.player-dialog-list li.current{color:#00b7ee;}
.player-dialog-list li:before{content:'';width:4px;height:4px;background-color:#fff;border-radius:4px;position:absolute;left:15px;top:50%;margin-top:-2px;transition:all .2s linear;-webkit-transition:all .2s linear;}
.player-dialog-list li.current:before{border-width:3px 6px;border-style:solid;border-color:transparent transparent transparent #00b7ee;height:0;width:0;overflow:hidden;background:none;border-radius:0;}
.player-dialog-list::-webkit-scrollbar{width:16px;height:9px;box-sizing:border-box;background:#eee;}
.player-dialog-list::-webkit-scrollbar-track-piece{background-color:#000;}
.player-dialog-list::-webkit-scrollbar-thumb{background-color:#333;border:2px solid #000;}
.player-dialog-list::-webkit-scrollbar-thumb:hover{background-color:#444;}
.player-dialog-list::-webkit-scrollbar-thumb:active{background-color:#555;}
.player-dialog-list::-webkit-scrollbar-corner{background-color:#f1f1f1;-webkit-border-radius:1px;}
.player-dialog-move{position:absolute;left:0;top:0;right:0;height:50px;cursor:move;z-index:2;}